SEPGroup4App/SEPGroup4App/Service References/FileManager/FileManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10350/FileManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileManagerNs" />
  <xs:element name="UploadFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileManagerNs" minOccurs="0" name="appFiles" nillable="true" type="q1:ApplicationFileCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFilesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>